<!DOCTYPE html>
<html>
<head>
    <title>Dockerized Python App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<pre class="docker-logo">
       ##         .
 ## ## ##        ==
## ## ## ## ##  ===
/""""""""""""""\___/ ===
\______O__________/
</pre>

<h1>Dockerized Python App</h1>

<p>This app is running on Google Cloud Platform.</p>

<p>Total Visitors: {{ count }}</p>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/sign-in">Sign In</a>
    <a href="/visitors">Visitors</a>
    <a href="/search">Search</a>
</nav>

<p>Built by Moses Chukwuma</p>

</div>

</body>
</html>
