<!DOCTYPE html>
<html>
<head>
    <title>Dockerized Python App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<pre class="docker-logo">
               ##         .
         ## ## ##        ==
      ## ## ## ## ##    ===
   /""""""""""""""""\___/ ===
  {                       /  ===-
   \______ O           __/
    \    \         __/
     \____\_______/
</pre>

<h1>Dockerized Python App</h1>

<p>This app is running on Google Cloud Platform.</p>

<p>Total Visitors: {{ count }}</p>

<p>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> |
    <a href="/sign-in">Sign In</a> |
    <a href="/visitors">Visitors</a> |
    <a href="/search">Search</a>
</p>

<p>Built by Moses Chukwuma</p>

</div>

</body>
</html>
